.crypto-actionBar {
  padding-top: 2rem;

  &__search-wrapper {
    position: relative;
    flex-grow: 1;
    flex-basis: 300px;
    max-width: 500px;
    margin: 0 auto;
  }

  &__search-icon {
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--input-placeholder);
    font-size: 1rem;
    pointer-events: none;
  }

  &__search-input {
    width: 100%;
    box-sizing: border-box;
    padding: 0.75rem 1rem 0.75rem 2.5rem;
    font-size: 1rem;
    background-color: var(--input-bg);
    color: var(--text-color);
    border: 1px solid var(--input-border);
    border-radius: 12px;
    box-shadow: var(--shadow-md);
    transition: border 0.3s ease, box-shadow 0.3s ease;
  }

  &__dropdown-container {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 1rem 0;
    color: var(--text-color);
  }

  &__dropdown {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 0.75rem 1rem;
    border-radius: 8px;
    border: 1px solid gray;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: var(--shadow);
    transition: all 0.3s ease;

    option {
      background-color: var(--bg-color);
      color: var(--text-color);
    }

    &:hover {
      background-color: var(--hover-bg);
      border-color: var(--accent);
    }

    &:focus {
      outline: none;
      border-color: var(--accent);
      box-shadow: 0 0 0 3px rgba(58, 134, 255, 0.4);
    }
  }
}

@media (max-width: 768px) {
  .dropdown-container {
    flex-direction: column;
  }
}
